$white: #fff;
$black: #000;
$red: #f00;
$gray: #ccc;
$green: #69a776;

$base-bg-color: $white;
$base-text-color: #777;
$base-link-color: #f00;
$base-link-hover-color: #cff;
$base-min-width: 980px;

$btn-border-color: rgba(52,172,220,1);
$btn-bg-color: rgba(52,172,220,1);
$btn-bg-color-hover: rgba(52,172,220, .85);

$input-color: $base-text-color;
$input-border-color: #c9c9c9;
$input-background-color: #f8f8f8;
$input-border-color-focus: rgba(52,172,220,1);